<?php
require_once '../engine/db.php';
$db = new Database();
try {
    $loader = new Twig_Loader_Filesystem('../views');
    $twig = new Twig_Environment($loader);
    $template = $twig->loadTemplate('goods.html');
    $images = $db->getGalleryElements();
    echo $template->render(array(
        'images' => $images
    ));
} catch (Exception $e) {
    die ('ERROR: ' . $e->getMessage());
}